* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Futura pt';
  src: url("../fonts/Futura20PT20Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura pt';
  src: url("../fonts/Futura20PT20Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura pt';
  src: url("../fonts/Futura20PT20Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura pt';
  src: url("../fonts/Futura20PT20Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura pt book';
  src: url("../fonts/Futura20PT20Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura pt cond extra';
  src: url("../fonts/Futura20PT20Cond20Extra20Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura pt cond';
  src: url("../fonts/Futura20PT20Cond20Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Futura pt", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  padding: 15px 35px;
  border: 1px none #000;
  border-radius: 50px;
  background-color: #31bd25;
  -webkit-box-shadow: 0 0 0 7px rgba(49, 189, 37, 0.41);
          box-shadow: 0 0 0 7px rgba(49, 189, 37, 0.41);
  -webkit-transition: all 425ms ease;
  -o-transition: all 425ms ease;
  transition: all 425ms ease;
  font-family: 'Futura pt', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #279e1d;
  -webkit-box-shadow: 0 0 0 14px rgba(49, 189, 37, 0.69);
          box-shadow: 0 0 0 14px rgba(49, 189, 37, 0.69);
}

.title-46px {
  font-family: 'Futura pt', sans-serif;
  color: #535353;
  font-size: 46px;
  line-height: 39px;
  font-weight: 500;
  text-align: center;
  margin: 0px 0px 43px 0px;
}

.title-46px span {
  color: #4990e2;
}

#popup-bid {
  position: relative;
  overflow: inherit;
  max-width: 48%;
  margin: 0px auto;
  background-color: #4990e2;
  color: #fff;
  font-family: 'Futura pt book', sans-serif;
  padding: 25px 0px 2% 2%;
  background-color: transparent;
}

.popup-bid {
  background-color: #4990e2;
  padding: 20px 4%;
  overflow: auto;
  height: 445px;
}

.popup-bid__title {
  font-family: 'Futura pt', sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin: 10px 0px 16px 0px;
}

.popup-bid__subtitle {
  font-weight: 400;
  margin: 0px 0px 16px 0px;
}

.popup-bid__description {
  font-size: 16px;
  line-height: 21px;
}

.popup-bid__close {
  position: absolute;
  top: 0px;
  left: 8%;
  width: 50px;
  height: 50px;
  padding: 12px 0px 0px 0px;
  border: 2px solid #4990e2;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.34);
  color: #4990e2;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

#popup-prices {
  position: relative;
  width: 43%;
  height: auto;
  margin: 0px auto;
  padding: 25px 2% 2% 2%;
  background-color: transparent;
}

.popup-prices {
  background-color: #4990e2;
  padding: 20px 10px 20px 20px;
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.28);
          box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.28);
}

.popup-prices__title {
  font-family: 'Futura pt', sans-serif;
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  margin: 10px 0px 11px 0px;
}

.popup-prices__subtitle {
  font-family: 'Futura pt book', sans-serif;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  margin: 0px 0px 22px 0px;
}

.popup-prices__close {
  position: absolute;
  top: 0px;
  left: 9%;
  width: 50px;
  height: 50px;
  padding: 12px 0px 0px 0px;
  border: 2px solid #4990e2;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.34);
  color: #4990e2;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
}

.popup-thank {
  position: absolute;
  max-width: 500px;
  height: 170px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 35px 55px;
}

.popup-thank__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.popup-thank__close::before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-thank__close::after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
}

.popup-thank__title {
  text-align: center;
  font-family: Arial,sans-serif;
  font-size: 40px;
  margin: 10px 0px 25px 0px;
}

.popup-thank__subtitle {
  text-align: center;
  font-family: Arial,sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.header__body {
  position: relative;
  height: 97px;
}

.header__burger {
  display: none;
}

.header__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  padding: 12px 0px 6px;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 187px;
  height: 36px;
  margin: 0px 16px 0px 0px;
}

.header__description {
  position: relative;
  font-family: 'Futura pt', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 8px 0px 0px 0px;
  padding: 0px 0px 0px 14px;
}

.header__description::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  display: block;
  width: 0.5px;
  height: 20px;
  background-color: #a8a8a8;
}

.header__time {
  font-family: 'Futura pt', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 4px 15px 0px 0px;
}

.header__phone a {
  font-family: 'Futura pt', sans-serif;
  color: #5a5a5a;
  font-size: 25px;
  font-weight: 500;
}

.header__phone a span {
  color: #4990e2;
}

.header__row2 {
  border: 1px none #000;
  padding: 14px 0px 12px;
  position: relative;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.14)), color-stop(47%, #fff));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.14), #fff 47%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.14), #fff 47%);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.header__list li a {
  padding: 10px 20px;
}

.header__link {
  font-family: 'Futura pt', sans-serif;
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 500;
}

.header__link:hover {
  color: #4990e2;
}

a.active {
  color: #4990e2;
}

.main {
  height: auto;
  background-image: -o-radial-gradient(67% 50%, circle farthest-corner, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.79) 49%, rgba(255, 255, 255, 0.67)), url(../img/main/bg.jpg);
  background-image: radial-gradient(circle farthest-corner at 67% 50%, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.79) 49%, rgba(255, 255, 255, 0.67)), url(../img/main/bg.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  padding: 197px 0 135px 0;
}

.main-text__title {
  color: #535353;
  font-size: 46px;
  line-height: 49px;
  font-weight: 500;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.7);
  margin: 0px 0px 25px 0px;
}

.main-text__subtitle {
  color: #535353;
  font-size: 29px;
  font-weight: 500;
  margin: 0px 0px 32px 0px;
}

.main-text__subtitle span {
  color: #4990e2;
}

.main-list {
  margin: 0px 0px 50px 0px;
}

.main-list li {
  font-family: 'Futura pt book', sans-serif;
  color: #535353;
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 14px 0px;
}

.main-list li span {
  font-size: 27px;
  font-weight: 900;
}

.demonstration {
  background-color: #DFDFDF;
  padding: 90px 0px 90px 0px;
}

.demonstration__container {
  position: relative;
}

.demonstration__circle {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: -55px 0px 0px -64px;
  border: 29px solid rgba(73, 144, 226, 0.15);
  border-radius: 50%;
  background-color: rgba(94, 156, 228, 0.22);
  -webkit-box-shadow: 0 0 20px 19px rgba(92, 153, 226, 0.05);
          box-shadow: 0 0 20px 19px rgba(92, 153, 226, 0.05);
}

.demonstration__video {
  position: relative;
  padding: 0px 0px 56.25% 0px;
  height: 0;
  overflow: hidden;
}

.demonstration__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.set {
  padding: 90px 0px 200px 0px;
  background: url(../img/set/bg.png) center no-repeat;
  background-attachment: fixed;
}

.set-curtain {
  position: relative;
  max-width: 900px;
  height: 230px;
  margin: 50px auto -31px;
  padding: 0px 4px;
  background-image: url(../img/set/curtain.png);
  background-position: 50% 50%;
  background-size: cover;
}

.set-curtain__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.set-curtain__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
}

.set-curtain-info {
  position: absolute;
  width: 81%;
  margin: 17px -122px 0px;
  border-right: 2px solid #4990e2;
  border-bottom: 2px solid #4990e2;
  border-left: 1px none #aaa;
  top: 80px;
  left: 5px;
}

.set-curtain-info_02 {
  top: 218px;
  left: 5px;
}

.set-curtain-info_03 {
  width: 86%;
  margin: -66px 0px 0px -186px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #4990e2;
  top: 84px;
  left: 120px;
}

.set-curtain-info_04 {
  top: 160px;
  left: 95px;
}

.set-curtain-info_05 {
  width: 107%;
  margin: -66px 0px 0px -186px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #4990e2;
  top: 84px;
  left: 245px;
}

.set-curtain-info_06 {
  top: 125px;
  left: 267px;
}

.set-curtain-info__circle {
  position: relative;
  top: -29px;
  width: 30px;
  height: 30px;
  margin: 0px -16px 5px -28px;
  float: right;
  border: 2px solid #4990e2;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px rgba(73, 144, 226, 0.31);
          box-shadow: 0 0 0 6px rgba(73, 144, 226, 0.31);
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.set-curtain-info__circle_03 {
  left: 14px;
  top: 19px;
  bottom: -12px;
}

.set-curtain-info__circle_05 {
  left: 14px;
  top: 19px;
  bottom: -12px;
}

.set-curtain-info__circle:hover {
  border-color: #4990e2;
  -webkit-box-shadow: 0 0 0 13px rgba(73, 144, 226, 0.26);
          box-shadow: 0 0 0 13px rgba(73, 144, 226, 0.26);
}

.set-curtain-info__description {
  margin: -16px 9px 0px 0px;
  font-family: 'Futura pt book', sans-serif;
  color: #464646;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-shadow: 0 0 6px #fff;
}

.set-curtain-guarantee {
  width: 350px;
  height: 200px;
  position: absolute;
  right: 0px;
  bottom: -245px;
}

.set-curtain-guarantee__circle {
  position: absolute;
  float: right;
  z-index: 1;
  width: 220px;
  height: 220px;
  margin: -42px 18px 0px -80px;
  background-color: rgba(94, 156, 228, 0.15);
  -webkit-box-shadow: 0 0 20px 19px rgba(92, 153, 226, 0.05);
          box-shadow: 0 0 20px 19px rgba(92, 153, 226, 0.05);
  border: 29px solid rgba(73, 144, 226, 0.15);
  border-radius: 50%;
}

.set-curtain-guarantee-doc {
  position: relative;
  z-index: 3;
  width: 300px;
  height: 152px;
  float: right;
  background-image: url(../img/set/guarantee.png);
  background-position: 0px 0px;
  background-size: cover;
}

.set-curtain-guarantee-doc__description {
  position: absolute;
  float: left;
  width: 240px;
  padding: 0px 0px 0px 13px;
  margin: 41px 0px 0px -97px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  font-family: 'Futura pt book', sans-serif;
  font-size: 19px;
  line-height: 36px;
}

.set-curtain-guarantee-doc__description span {
  font-family: 'Futura pt cond extra', sans-serif;
  font-size: 39px;
  font-weight: 400;
  color: #4990e2;
}

.types {
  padding: 90px 0px 90px 0px;
}

.types__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.types__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.types__name {
  font-family: 'Futura pt book', sans-serif;
  color: #5a5a5a;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin-bottom: 10px;
}

.types-card {
  position: relative;
  width: 95%;
  height: 264px;
  text-align: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0px auto 20px;
}

.types-card_big {
  height: 306px;
}

.types-card__image {
  width: 293px;
  height: 211px;
}

.types-card__image_02 {
  width: 313px;
  height: 126px;
}

.types-card__image_03 {
  width: 299px;
  height: 193px;
}

.types-card__image_04 {
  width: 233px;
  height: 260px;
}

.types-card__image_05 {
  width: 242px;
  height: 260px;
}

.types-card__image_06 {
  width: 199px;
  height: 260px;
}

.control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.36)), to(rgba(255, 255, 255, 0.36))), url(../img/control/bg.jpg);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.36)), url(../img/control/bg.jpg);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.36)), url(../img/control/bg.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  padding: 100px 0px 100px 0px;
}

.control__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.control__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19%;
          flex: 0 0 19%;
}

.control__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.5%;
          flex: 0 0 21.5%;
}

.control-card {
  text-align: center;
}

.control-card__image {
  width: 63px;
  height: 176px;
  margin: 0px 0px 20px 0px;
  position: relative;
  z-index: 1;
}

.control-card__image_02 {
  width: 150px;
  height: 150px;
  margin: 25px 0px 20px 0px;
}

.control-card__image_03 {
  width: 88px;
}

.control-card__image_04 {
  width: 150px;
  height: 150px;
  margin: 25px 0px 20px 0px;
}

.control-card__image_05 {
  width: 74px;
}

.control-card__decor {
  width: 22px;
  height: 50px;
  margin: -35px auto 0px;
  background-image: -o-radial-gradient(50% 0%, circle farthest-corner, rgba(73, 144, 226, 0.53) 13%, rgba(181, 210, 243, 0.22) 73%, rgba(255, 255, 255, 0) 99%);
  background-image: radial-gradient(circle farthest-corner at 50% 0%, rgba(73, 144, 226, 0.53) 13%, rgba(181, 210, 243, 0.22) 73%, rgba(255, 255, 255, 0) 99%);
  -webkit-transform: rotateX(40deg) rotateY(0deg) rotateZ(0deg);
          transform: rotateX(40deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.control-card__name {
  font-family: 'Futura pt book', sans-serif;
  color: #5a5a5a;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
  max-width: 200px;
  margin: 0px auto;
}

.bid {
  background-color: #4990e2;
  padding: 42px 0px 42px 0px;
}

.bid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bid__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
}

.bid__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}

.bid__title {
  max-width: 410px;
  font-weight: 500;
  color: #fff;
  font-size: 30px;
  line-height: 62px;
}

.bid-form__phone {
  width: 245px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  border-radius: 50px;
  font-family: 'Futura pt book', sans-serif;
  color: #666;
  font-size: 21px;
  font-weight: 500;
  padding: 0px 20px;
  margin: 15px 10px 10px 0px;
}

.bid-form__phone::-webkit-input-placeholder {
  color: #a3a3a3;
}

.bid-form__phone::-moz-placeholder {
  color: #a3a3a3;
}

.bid-form__phone:-moz-placeholder {
  color: #a3a3a3;
}

.bid-form__phone:-ms-input-placeholder {
  color: #a3a3a3;
}

.bid-form__btn {
  background-color: #31bd25;
  -webkit-box-shadow: 0 0 0 7px rgba(49, 189, 37, 0.74);
          box-shadow: 0 0 0 7px rgba(49, 189, 37, 0.74);
  padding: 15px 35px;
  margin: 0px 0px 20px 0px;
}

.bid-form__btn:hover {
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.49);
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.49);
}

.bid-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bid-form__politics {
  color: #f3f3f3;
  font-size: 19px;
  font-weight: 300;
  text-decoration: underline;
  margin: 0px 0px 0px 10px;
}

.custom-checkbox {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.44);
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox.active {
  background-color: #3898ec;
  background-image: url(../img/bid/icons/checkbox.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.works {
  padding: 100px 0px 100px 0px;
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.works-image {
  margin: 0px 0px 8px 0px;
  text-align: center;
}

.works-image__work {
  width: 360px;
  height: 285px;
  -webkit-transition: all 425ms ease;
  -o-transition: all 425ms ease;
  transition: all 425ms ease;
}

.works-image__work:hover {
  -webkit-box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.52);
          box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.52);
  -webkit-filter: saturate(139%);
  filter: saturate(139%);
}

.reviews {
  background-color: #DDDDDD;
  padding: 100px 0px 100px 0px;
}

.reviews__container {
  position: relative;
  max-width: 925px;
}

.reviews__circle {
  position: absolute;
  right: 30px;
  width: 300px;
  height: 300px;
  margin: -62px -199px 0px -64px;
  border: 29px solid rgba(73, 144, 226, 0.15);
  border-radius: 50%;
  background-color: rgba(94, 156, 228, 0.22);
  -webkit-box-shadow: 0 0 20px 19px rgba(92, 153, 226, 0.05);
          box-shadow: 0 0 20px 19px rgba(92, 153, 226, 0.05);
  opacity: 0.33;
}

.reviews__video {
  position: relative;
  padding: 0px 0px 56.25% 0px;
  height: 0;
  overflow: hidden;
  margin: 0px 0px 40px 0px;
}

.reviews__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  margin: 0px auto;
}

.reviews__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.reviews-letter {
  text-align: center;
}

.reviews-letter__frame {
  width: 180px;
  height: 270px;
  background: url(../img/reviews/01-small.jpg) center no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset -10px 8px 9px -1px rgba(95, 95, 95, 0.31), 0 11px 15px 10px rgba(0, 0, 0, 0.07);
          box-shadow: inset -10px 8px 9px -1px rgba(95, 95, 95, 0.31), 0 11px 15px 10px rgba(0, 0, 0, 0.07);
  border: 8px solid #fff;
  margin: 0px auto;
}

.reviews-letter__frame_02 {
  background: url(../img/reviews/02-small.jpg) center no-repeat;
  background-size: cover;
}

.reviews-letter__frame_03 {
  background: url(../img/reviews/03-small.jpg) center no-repeat;
  background-size: cover;
}

.reviews-letter__frame:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  border: none;
}

.prices {
  padding: 80px 0px 80px 0px;
}

.prices__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.prices-card {
  padding: 0px 30px;
  position: relative;
  margin: 0px 0px 55px 0px;
}

.prices-card__image {
  margin: 0px 0px 20px 0px;
}

.prices-card__image img {
  width: 300px;
  height: 217px;
}

.prices-card__name {
  font-family: 'Futura pt book', sans-serif;
  color: #535353;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  height: 50px;
  margin: 0px 0px 17px 0px;
}

.prices-card__price {
  color: #ff5454;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}

.prices-card__price span {
  color: #9b9b9b;
  font-size: 17px;
  font-weight: 500;
  text-decoration: line-through;
}

.prices-card__btn {
  display: block;
  width: 202px;
  padding: 15px 5px;
  text-align: center;
}

.btn-price {
  margin: 10px 0px 15px 0px;
}

.prices-card-discounts {
  position: absolute;
  top: -15px;
  right: 12px;
  width: 60px;
  height: 60px;
  background-color: #ff5454;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.prices-card-discounts__percent {
  margin: 20px 0px 0px 0px;
}

.manufacture {
  background-color: #DBDBDB;
  padding: 90px 0px 90px 0px;
}

.manufacture__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.manufacture__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.manufacture-image {
  text-align: center;
}

.manufacture-image__workshop {
  width: 98%;
  height: 275px;
  margin: 0px auto;
  -webkit-transition: all 425ms ease;
  -o-transition: all 425ms ease;
  transition: all 425ms ease;
}

.manufacture-image__workshop:hover {
  -webkit-box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.52);
          box-shadow: 8px 8px 16px -4px rgba(0, 0, 0, 0.52);
  -webkit-filter: saturate(139%);
  filter: saturate(139%);
}

.manufacture-slider {
  max-width: 370px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  padding: 0px 10px;
}

.manufacture-slider__item {
  text-align: center;
  padding: 0px 8px;
}

.manufacture-slider__item img {
  width: 100px;
  height: 85px;
}

.manufacture-slider-big {
  padding: 0px 0px 20px 0px;
}

.manufacture-slider-big__item {
  text-align: center;
}

.manufacture-slider-big__item img {
  width: 100%;
  height: 600px;
}

.manufacture-slider-big .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  font-size: 0;
  width: 30px;
  height: 60px;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.manufacture-slider-big .slick-arrow.slick-prev {
  background: url(../img/manufacture/icons/arrow-left.svg) 0 0 no-repeat;
  background-size: 90%;
  left: -66%;
}

.manufacture-slider-big .slick-arrow.slick-next {
  background: url(../img/manufacture/icons/arrow-right.svg) 0 0 no-repeat;
  background-size: 90%;
  right: -66%;
}

.manufacture-slider-big .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.advices {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, 0.4)), to(rgba(243, 243, 243, 0.4))), url("../img/advices/bg.jpg");
  background-image: -o-linear-gradient(top, rgba(243, 243, 243, 0.4), rgba(243, 243, 243, 0.4)), url("../img/advices/bg.jpg");
  background-image: linear-gradient(180deg, rgba(243, 243, 243, 0.4), rgba(243, 243, 243, 0.4)), url("../img/advices/bg.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  padding: 100px 0px 100px 0px;
}

.advices-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 925px;
  margin: 0px auto 35px;
}

.advices-card__number {
  font-family: 'Futura pt cond extra', sans-serif;
  color: #8b8b8b;
  font-size: 31px;
  font-weight: 700;
  margin: 24px 40px 0px 0px;
}

.advices-card__description {
  font-family: 'Futura pt book', sans-serif;
  color: #8b8b8b;
  font-size: 21px;
  line-height: 29px;
}

.contacts {
  padding: 90px 0px 3px 0px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 60px 0px;
}

.contacts__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.contacts-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-card__icon {
  width: 50px;
  height: 50px;
}

.contacts-card-text {
  margin: 0px 0px 0px 20px;
}

.contacts-card-text__title {
  font-family: 'Futura pt', sans-serif;
  color: #5c5c5c;
  font-size: 19px;
  font-weight: 700;
  margin: 0px 0px 9px 0px;
}

.contacts-card-text__description {
  font-family: 'Futura pt book', sans-serif;
  color: #969696;
  font-size: 19px;
  line-height: 22px;
  max-width: 185px;
}

.contacts-card-text__description a {
  color: #4990e2;
}

.footer__title {
  font-family: 'Futura pt', sans-serif;
  color: #a7a7a7;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  background-color: #CFCFCF;
  padding: 36px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px;
}

.footer__copyright {
  font-family: 'Futura pt', sans-serif;
  color: #afaeae;
  font-size: 17px;
  font-weight: 300;
  padding: 0px 10px;
}

@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }

  .set-curtain {
    width: 600px;
    height: 159px;
  }

  .set-curtain-info {
    top: 60px;
    left: 45px;
  }

  .set-curtain-info_02 {
    top: 155px;
    left: 150px;
  }

  .set-curtain-info_03 {
    top: 57px;
    left: 128px;
  }

  .set-curtain-info_04 {
    top: 108px;
    left: 80px;
  }

  .set-curtain-info_05 {
    top: 69px;
    left: 220px;
  }

  .set-curtain-info_06 {
    top: 85px;
    left: 220px;
  }

  .set-curtain-info__circle_03 {
    left: 22px;
    top: 34px;
    margin: 0px -7px 1px -45px;
  }

  .types-card {
    width: 240px;
    height: 220px;
  }

  .types-card_big {
    height: 320px;
  }

  .types-card__image {
    width: 230px;
    height: 170px;
  }

  .types-card__image_04 {
    height: 260px;
  }

  .works-image__work {
    width: 315px;
    height: 240px;
  }

  .prices-card {
    padding: 0px 5px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  #popup-bid {
    max-width: 84%;
  }

  #popup-prices {
    width: 74%;
  }

  .header__body {
    height: 55px;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 5px;
    left: calc(50% - 15px);
    width: 45px;
    height: 45px;
    z-index: 4;
    background-color: #4990e2;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 14px;
    height: 2px;
    left: 15px;
  }

  .header__burger::before {
    top: 18px;
  }

  .header__burger::after {
    bottom: 17px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 14px;
    height: 2px;
    left: 15px;
    top: 22px;
  }

  .header__burger.active {
    background-color: #C8C8C8;
  }

  .header__logo {
    width: 159px;
    height: 31px;
  }

  .header__description {
    display: none;
  }

  .header__row2 {
    background-image: none;
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    width: 300px;
    height: 276px;
    top: -100%;
    left: calc(50% - 150px);
    background-color: rgba(255, 255, 255, 0.83);
    padding: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.31);
            box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.31);
  }

  .header__menu.active {
    top: 56px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 0px 0px;
  }

  .header__list li a {
    display: block;
    width: 100%;
    padding: 7.95px 20px;
  }

  .main {
    padding: 117px 0px 50px 0px;
  }

  .main {
    padding: 90px 0px 50px 0px;
  }

  .main-text__title {
    font-size: 39px;
    line-height: 42px;
    margin: 0px 0px 20px 0px;
  }

  .main-text__subtitle {
    margin: 0px 0px 18px 0px;
    font-size: 25px;
    line-height: 23px;
  }

  .demonstration__circle {
    width: 150px;
    height: 150px;
    margin: -42px 0px -7px 0px;
  }

  .set-curtain-guarantee {
    bottom: -250px;
  }

  .control__col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .control__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .control-card {
    margin: 0px 0px 20px 0px;
  }

  .bid__row {
    display: block;
    text-align: center;
  }

  .bid__title {
    margin: 0px auto 5px;
    line-height: 46px;
  }

  .bid-form__checkbox_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .works-image__work {
    height: 157px;
    width: 240px;
    margin: 0px 4px;
  }

  .prices-card__image img {
    width: 240px;
    height: 180px;
  }

  .prices-card__name {
    font-size: 15px;
  }

  .manufacture-image__workshop {
    height: 208px;
  }

  .contacts__row {
    margin: 0px 0px 40px 0px;
  }

  .contacts__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .contacts-card {
    width: 220px;
    margin: 0px auto 25px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .header__burger {
    left: 10px;
    top: 13px;
    width: 30px;
    height: 30px;
  }

  .header__burger::before,
  .header__burger::after {
    left: 8px;
  }

  .header__burger::before {
    top: 9px;
  }

  .header__burger::after {
    bottom: 14px;
  }

  .header__burger span {
    left: 8px;
    top: 19px;
  }
}

@media (max-width: 991.98px) and (max-width: 479.98px) {
  .header__burger {
    left: 0px;
    top: 0px;
    width: 47px;
    height: 75px;
  }

  .header__burger::before,
  .header__burger::after {
    left: 14px;
  }

  .header__burger::before {
    top: 31px;
  }

  .header__burger::after {
    bottom: 32px;
  }

  .header__burger span {
    left: 14px;
    top: 36px;
  }

  .header__menu {
    background-color: #fff;
    width: 200px;
    height: 270px;
    left: 0;
  }

  .header__menu.active {
    top: 75px;
  }

  .contacts-card {
    margin: 0px auto 25px 0px;
  }
}

@media (max-width: 991.98px) and (max-width: 370px) {
  .header__burger {
    height: 90px;
  }

  .header__burger::before {
    top: 37px;
  }

  .header__burger::after {
    top: 43px;
  }

  .header__burger span {
    top: 49px;
  }

  .header__menu.active {
    top: 90px;
  }
}

@media (max-width: 991.98px) and (max-width: 991.98px) {
  .header__menu.active {
    padding: 5px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  #popup-bid {
    max-width: 87%;
  }

  .popup-bid__title {
    font-size: 24px;
  }

  #popup-prices {
    width: 94%;
  }

  .popup-prices__title {
    font-size: 22px;
  }

  .popup-thank__title {
    margin: 10px 0px 12px 0px;
  }

  .header__logo {
    margin: 0px 0px 0px 45px;
  }

  .header__time {
    display: none;
  }

  .main__btn {
    display: block;
    max-width: 510px;
    width: 100%;
    margin: 0px auto;
    padding: 20px 10px;
    font-size: 23px;
    text-align: center;
  }

  .main-text__title {
    font-size: 43px;
    line-height: 43px;
    margin: 0px auto 20px;
    text-align: center;
  }

  .main-text__subtitle {
    font-size: 20px;
    text-align: center;
  }

  .set-curtain {
    width: 415px;
    height: 112px;
    margin: 89px auto auto;
  }

  .set-curtain-info {
    width: 96px;
    margin: -29px -76px 0px;
    padding: 0px 0px 0px 5px;
    top: 80px;
    left: -10px;
  }

  .set-curtain-info_02 {
    top: 150px;
    left: 92px;
  }

  .set-curtain-info_03 {
    top: 16px;
    left: 45px;
  }

  .set-curtain-info_04 {
    top: 115px;
    left: 62px;
  }

  .set-curtain-info_05 {
    top: 30px;
    left: 83px;
  }

  .set-curtain-info_06 {
    top: 98px;
    left: 115px;
  }

  .set-curtain-info__circle {
    top: -20px;
    width: 20px;
    height: 20px;
    margin: 0px -11px 7px auto;
  }

  .set-curtain-info__circle_03 {
    top: 32px;
  }

  .set-curtain-info__circle_05 {
    top: 18px;
  }

  .set-curtain-info__description {
    margin: -6px 9px 0px 0px;
    padding: 0px 0px 4px 0px;
    font-size: 15px;
    line-height: 14px;
  }

  .set-curtain-guarantee {
    bottom: -250px;
  }

  .types__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .works__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .works-image__work {
    width: 400px;
    height: 228px;
  }

  .reviews__row {
    display: block;
  }

  .reviews-letter__frame {
    margin: 0px auto 20px;
  }

  .prices__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .prices__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .prices-card {
    width: 280px;
    height: 410px;
    margin: 0px auto 50px;
    padding: 0px;
  }

  .prices-card__name {
    height: 37px;
  }

  .prices-card__btn {
    margin: 0px 0px 25px 0px;
  }

  .prices-card-discounts {
    right: -15px;
  }

  .manufacture__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .manufacture-image__workshop {
    width: 400px;
    height: 280px;
    margin: 0px 0px 10px 0px;
  }

  .manufacture-slider {
    padding: 0px 30px;
  }

  .footer__title {
    padding: 15px 0px;
  }

  .footer__row {
    display: block;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }

  .footer__copyright {
    margin: 0px 0px 15px 0px;
    padding: 0px;
  }
}

@media (max-width: 680px) {
  .set {
    padding: 30px 0px 300px 0px;
  }

  .set-curtain-guarantee {
    bottom: -310px;
  }

  .set-curtain-guarantee__circle {
    position: relative;
    top: -40px;
    margin: -14px auto 0px;
    float: none;
    opacity: 0.85;
  }

  .set-curtain-guarantee-doc__description {
    width: 150px;
    margin: 90px 0px 0px 10px;
    float: none;
    font-size: 20px;
    line-height: 33px;
  }
}

@media (max-width: 640px) {
  .set-curtain {
    width: 253px;
    height: 63px;
    margin: 89px auto -15px;
    padding: 73px 4px 0px;
  }

  .set-curtain-info {
    width: 60px;
    height: auto;
    margin: -5px -118px 0px;
    top: -34px;
    left: 55px;
  }

  .set-curtain-info_02 {
    top: 10px;
    left: 110px;
  }

  .set-curtain-info_03 {
    width: 105px;
    margin: -94px -57px 0px;
    top: 2px;
    left: 21px;
  }

  .set-curtain-info_04 {
    top: 0px;
    left: 100px;
  }

  .set-curtain-info_05 {
    top: -87px;
    left: 125px;
  }

  .set-curtain-info_06 {
    top: -27px;
    left: 150px;
  }

  .set-curtain-info__circle {
    top: -15px;
    width: 15px;
    height: 15px;
    margin: 0px -9px 7px -21px;
  }

  .set-curtain-info__circle_03 {
    left: 6px;
    top: 30px;
  }

  .set-curtain-info__circle_05 {
    left: 8px;
    top: 30px;
    margin: 0px -7px 1px -45px;
  }

  .set-curtain-info__description {
    margin: 4px 9px 0px 0px;
    font-family: Exo, sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }
}

@media (max-width: 525px) {
  .bid-form__phone {
    margin: 0px 0px 8px 0px;
  }

  .bid-form__btn {
    -webkit-box-shadow: 0 0 0 5px rgba(49, 189, 37, 0.74);
            box-shadow: 0 0 0 5px rgba(49, 189, 37, 0.74);
  }
}

@media (max-width: 479.98px) {
  .title-46px {
    font-size: 27px;
    line-height: 31px;
    margin: 0px 0px 45px 0px;
  }

  #popup-bid {
    max-width: 95%;
  }

  .popup-bid__title {
    font-size: 20px;
  }

  .popup-prices__title {
    font-size: 25px;
    line-height: 31px;
    margin: 10px 0px 9px 0px;
  }

  .popup-prices__subtitle {
    font-size: 20px;
    margin: 0px 0px 17px 0px;
  }

  .header__body {
    height: 75px;
  }

  .header__row1 {
    padding: 6px 0px 0px 0px;
  }

  .header__col {
    display: block;
  }

  .header__logo {
    width: 104px;
    height: 20px;
  }

  .header__description {
    display: block;
    width: 135px;
    margin: 0px 0px 0px 45px;
    padding: 0px 0px 0px 0px;
    font-size: 13px;
    line-height: 14px;
  }

  .header__description::before {
    display: none;
  }

  .header__phone a {
    font-size: 23px;
  }

  .header__phone a span {
    color: #5a5a5a;
  }

  .header__list li a {
    padding: 7.55px 20px;
  }

  .main__btn {
    width: 300px;
    padding: 10px 9px;
    font-size: 23px;
    line-height: 22px;
  }

  .main-text__title {
    font-size: 27px;
    line-height: 31px;
    margin: 0px 0px 11px 0px;
  }

  .main-list li {
    font-size: 20px;
    line-height: 20px;
  }

  .main-list li span {
    font-size: 24px;
  }

  .demonstration {
    padding: 30px 0px 50px 0px;
  }

  .types {
    padding: 50px 0px 30px 0px;
  }

  .control {
    padding: 50px 0px 50px 0px;
  }

  .bid__title {
    font-size: 22px;
    line-height: 35px;
    margin: 0px auto 10px;
  }

  .works {
    padding: 30px 0px 30px 0px;
  }

  .works-image__work {
    width: 90%;
    height: 200px;
  }

  .reviews {
    padding: 30px 0px 30px 0px;
  }

  .reviews__circle {
    width: 150px;
    height: 150px;
    right: 0px;
    left: 10px;
    margin: -42px 0px 0px -6px;
  }

  .reviews__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .reviews-letter {
    padding: 0px 2px;
  }

  .reviews-letter__frame {
    width: 95px;
    height: 140px;
  }

  .prices {
    padding: 30px 0px 30px 0px;
  }

  .prices-card {
    border: 1px solid #cfcfcf;
    margin: 0 auto 25px;
  }

  .prices-card__image {
    text-align: center;
  }

  .prices-card__image img {
    width: 100%;
    height: 220px;
  }

  .prices-card__name {
    margin: 0px 0px 5px 0px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  .prices-card__price {
    font-size: 20px;
    text-align: center;
  }

  .prices-card__btn {
    margin: 0px auto 25px;
  }

  .manufacture {
    padding: 30px 0px 30px 0px;
  }

  .manufacture-image__workshop {
    width: 300px;
    height: 240px;
  }

  .advices {
    padding: 30px 0px 30px 0px;
  }

  .advices-card {
    display: block;
    text-align: center;
  }

  .advices-card__number {
    margin: 0px 0px 10px 0px;
  }

  .advices-card__description {
    font-size: 17px;
  }

  .contacts {
    padding: 30px 0px 3px 0px;
  }
}

@media (max-width: 370px) {
  .header__body {
    height: 90px;
  }

  .header__row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__col {
    text-align: center;
  }

  .header__description {
    width: 250px;
  }

  .header__phone a {
    margin: 0px 0px 0px 50px;
  }

  .main {
    padding: 120px 0px 50px 0px;
  }

  .set-curtain {
    margin: 0px 0px 0px auto;
  }
}

@media (max-width: 335px) {
  .popup-prices {
    padding: 20px 5px 20px 15px;
  }
}